.outer-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.header-box{
    background-color: #FECCCB;
    flex-grow: 2;
    flex-basis: 70pt;
    align-self: stretch;
}

.lside-auto{
    background-color: #FECCFF;
    flex-grow:1;
}

.content-expands{
    background-color: #FFFFCB;
    flex-grow: 1;
}

.rside-box{
    background-color: #CCFFFF;
    flex-grow:1;
    align-self: flex-end;
}

.footer-box{
    background-color: #CCCCFE;
    flex-grow:1;
    align-self: stretch;
}